
 @font-face {
  font-family: "little-face";
  src: url("../little-face/LittleFaceBlack.ttf");

}
 
 body {
  background: #c1b996 !important;

 }

h1 {
  background-color: #a84064;
  font-family: "little-face" !important;
  font-size: 80px;
  padding: 5%;
  text-align: center;
 
}

h2 {
  background-image: url("../img/pizza3.png");
  padding: 8%;
  
}

#introduction {
  background-color: whitesmoke;
  border: 5px solid #a84064;
  border-radius: 50%;
  border-style: groove;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
}

p {
  padding-bottom: 5%; 
  padding-top: 3%;
  text-align: center;

}

#size-pizza {
background-color: #DFD5BA;
border: 2px solid #e98f0f;

margin-bottom: 10%;
padding-bottom: 5%;
text-align: center;

}

#toppings-pizza {
  background-color: #DFD5BA;
  border: 2px solid #e98f0f;

}

#cost-pizza {
  background-color: #DFD5BA;
  border: 2px solid #e98f0f;
  /* margin-top: 1%; */
  text-align: center;

}